.content-wrapper {
	margin-top: 60px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#eventTbl {
	margin-top: 50px;
}

.alert {
	min-height: 15px;
}

.navbar-inverse .navbar-inner{
	background: none;	
	background-color: $blueDark;
	border-color: $blue;
}

.navbar-inverse .brand {
	color: $white;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: $grey;
}

pre {
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
	font: inherit;
}