// PTC Branded Colors - Do not add/remove colors. Create "shades" and "tints" for greys, hover/active/focus states only;

// Primary
  $teal: #00857d;
  $greenLight: #84bd00;
  $blue: #009cde;
  $red: #bc204b;
  $orange: #e57200;
  $magenta: #b0008e;

// Secondary
  $tealDark: #005e5d;
  $green: #4c8c2b;
  $blueDark: #236192;
  $redDark: #b81b1b;
  $yellow: #f1b434;
  $purple: #833177;

// Universal
  $greyDark: #53565a;
  $grey: #c8c9c7;
  $greyLight: #d9d9d9;
  $white: #ffffff;
